html {
    font-size: 12pt;
    font-family: 'Times New Roman';
    
}

.btn {
    font-weight: bold;
    display: inline-block;
    padding: 0.5em;
    border: 5px solid;
    border-radius: 30px;
    height: 2em;
    line-height: 2em;
    background: #0f0;
}

div {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.special {
    font-style: oblique;
    font-variant: small-caps;
}
    
.b1 {
    font-weight: 100;
}
.b2 {
    font-weight: 200;
}
.b3 {
    font-weight: 300;
}
.b4 {
    font-weight: 400;
}
.b5 {
    font-weight: 500;
}
.b6 {
    font-weight: 600;
}
.b7 {
    font-weight: 700;
}
.b8 {
    font-weight: 800;
}
.b9 {
    font-weight: 900;
}