/* Common CSS Terms
    1. Selectors
        - designates which element(s) in HTML to target/apply styles
            i.e. colour, size, position

        - can select based on a combination of qualifiers
            i.e. select EVERY paragraph OR a specific paragraph

        - generally target an ATTRIBUTE value
            i.e. id or class value, element; <h1> or <p>

        * Selectors are FOLLOWED by CURLY BRACES { }
            i.e. p{styles to be applied} ; targeting all <p> elements

    2. Properties
        - fall AFTER a selector
        - colon ';' comes after each property
        - TYPES: background, color, font-size, height, width
        - EXAMPLE:
            p {
                color: ...;
                font-size: ...;
            }

    3. Values
        - determines behaviour of the property (pairs)
        - defines the property of the element
        - EXAMPLE:
            p {
                color: orange;
                font-size: 16px;
            }

* Working with Selectors *
    1. Type Selectors
        - target elements by their element TYPE
        - EXAMPLE:
            div {...} ; selects all HTML division elements

    2. Class Selectors
        - select based on element's CLASS attribute
        - classes in CSS are denoted by the '.' followed by the class value
            i.e. .awesome {...}
        - EXAMPLE:
            CSS: .awesome{...}
            HTML: <div class="awesome">...</div>
                    <p class="awesome">...</p>
    
    3. ID Selectors
        - target only one UNIQUE value
        - can only be used once per page
        - reserve for SIGNIFICANT elements
        - in CSS ids are denoted by a hash '#' followed by the id attribute value
        - EXAMPLE:
            CSS: #shayhowe {...}
            HTML: <div id="shayhowe">...</div>
        