html {
    font-size: 12pt;
}

/*
section {
    float: left;
    margin: 0 1.5%;
    width: 63%;
    font-size: 1.5em;
}*/

/* CLEARFIX implementation */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group {
    clear: both;
}

.group:after {
    clear: both;
}

section {
    float: left;
    border: 3pt solid #ff3ea1;
    box-sizing: border-box;
    padding: 1em;
    margin: 0 1.5%;
    /*width: 30%;*/
    width: 64%;
    font-size: 1.5em;
}

aside {
    float: right;
    border: 3pt solid #a13aff;
    box-sizing: border-box;
    padding: 1em;
    margin: 0 1.5%;
    width: 30%;
    font-size: 1.5em;
}

div {
    height: 110px;
    width: 600px;
    border: 3px solid;
}

.offset {
    left: 200px;
    position: relative;
    top: 30px;
}

.absolute {
    top: 30px;
    left: 30px;
    position: absolute;
}

footer {
    font-size: 1.2em;
    /* clears float effects AFTER they have been applied*
    clear: both;
}