span {
    height: 40px;
}

.block {
    display: block;
    background: blue;
}

.inline {
    display: inline;
    background: green;
}

.inline-block {
    display: inline-block;
    background: red;
}

.hidden {
    display: none;
    background: yellow;
}

