p {
    background: orange;
    font-size: 24px;
}

/*
Style for paragraph p is overridden:
    - background is green
    - font size stays the same
*/
p {
    background: green;
}

p {
    background: green;
    /* new background is overruled to be red */
    background: red;
}

/* Specificity Weight */
/*
In order from HIGHEST to LOWEST weight (1 - 3)
1. ID Selector (id="")
    Point value: 1 0 0

2. Class Selector
    Point value: 0 1 0

3. Type Selector
    Point value: 0 0 1

The higher the weight, the higher priority is given to the selector. Therefore, an ID selector would override a class and type selector's values.

Below, you can see the pargraph now has a background of ORANGE, as the id selector #test takes priority.
*/

#test {
    background: orange;
}

p {
    background: green;
}

/* Combining Selectors */
/*
If we want to select all pargraph elements in class attribute of 'hotdog' and set the colour to brown AND also set one of the class attributes 'mustard' to yellow then:
*/

.hotdog p {
    background: brown;
}

/* mustard belonging to hotdog class */
.hotdog p.mustard {
    background: yellow;
}