ul {
    list-style-type: square;
}

/* using an image as list marker */
li {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/arrow.svg") 0 50% no-repeat;
    list-style-type: none;
    padding-left: 12px;
}

.line li {
    background: none;
    padding: 0 120px;
    margin: 0;
    display: inline-block;
    border: 1px solid rgb(0,0,0);
}